<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign In</title>
        <style>
            html, body {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input {
                font-size: 1.5rem;
            }
        </style>
    </head>
    <body>
        <form action="" method="post">
            <input type="text" id="id" name="id" placeholder="enter your id"/>
            <input type="text" id="pw" name="pw" placeholder="enter your password"/>
            <input type = "submit" value="Sign In"/>
        </form>
    </body>
</html>